.nav {
  display: flex;
  align-items: center;
  gap: 35px;
  color: #393e46;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  & a.active {
    background-color: #393e46;
    border-radius: 10px;
    color: #fff;
  }
}

.link {
  padding: 10px;
}
