.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon {
  cursor: pointer;
  font-size: 30px;
  color: #a0a0a0;
  transition: all 0.3s linear;
  &:hover {
    color: #393e46;
  }
  @media (max-width: 550px) {
    font-size: 25px;
  }
}
.basket {
  position: relative;

  z-index: 999;
}
.count {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 4;
  background-color: red;
  color: #fff;
  border-radius: 5px;

  width: 50%;
  height: 50%;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
}
